.techfont{
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  text-align: center;
}

.postcontent{
  font-family: 'Montserrat';
  font-size: 1.5em;
}

.centerstage{
  margin: 0 auto;

}
.listbanner{

  font-size: 5rem;
  width: 100%;
  height: 100%;

  margin: 0 auto;
  top: 100px;
  padding-bottom: 50px;
  position: relative;
  text-align: left;

}
.latestpostheading{
  position: relative;
  text-align: center;
  left: 100px;
  width: 100%;
  height: 100%;
  top:100px;

}



body{

    /*background: white; /* Old browsers */

background: -moz-radial-gradient(circle at center, black 0, #DE6559 100%); /* FF3.6+ */
background: -webkit-radial-gradient(circle at center, black 0, #DE6559 100%); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(circle at center, black 0, #DE6559 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(circle at center, black 0, #DE6559 100%); /* Opera 12+ */
background: -ms-radial-gradient(circle at center, black 0, #DE6559 100%); /* IE10+ */
background: radial-gradient(circle at center, black 0, #DE6559 100%); /* W3C */
background: no-repeat;

    width: 100%;
    height:100%;
    background-size: cover;
    color: black;
    padding-top: 50px;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.bigbrand{
  font-size: 1.5em;
}

.textareaclass{
  border: 2px solid red;
}

.postul li{
  position: relative;
  text-align: center;
  margin: 0 auto;
left: 100px;

  top:90px;
  padding-top: 50px;
  padding-bottom: 30px;
  list-style-type:none;
  background: inherit;
  box-shadow: 2px 1px 1px 2px #a5eeff;
  color: black;

}

.postdetaildiv{
  margin:0;
  padding-top: 50px;
  padding-bottom: 100px;
  color:black;
  position: relative;
  text-align: center;
  left: 100px;
  background: #E4EFF5;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  

}
.postdetaildiv p{
  text-align: left;

}

.postdetaildiv a{
  position: relative;
  left:10px;
}

.postul a{

  color: black;
}
.commenthead{
  padding-top: 100px;
  position: relative;
  color: black;
}

/*.commentbackground {
  border-bottom: 1px solid #a5eeff;

    position: relative;
    text-align: left;

}*/

/*COLOR CHANGER*/
/*Credit and Source: http://codepen.io/thapliyalshivam/pen/dvgXVO*/
/*.loader{
  filter:hue-rotate(0deg);
  color: linear-gradient(45deg,#0f8,#08f);
  animation:hue 10s infinite linear;
}

@keyframes spinify {
  0% {
    transform: translate(0px,0px);

  }
  33% {
    transform: translate(0px,24px);
    border-radius:100%;
    width:10px;
    height:10px;

  }
   66% {
    transform:translate(0px,-16px);
  }

   88% {
    transform:translate(0px,4px);

  }
  100% {
    transform:translate(0px,0px);
  }
}
@keyframes hue{
  0%{filter: hue-rotate(0deg);}
  100%{filter:hue-rotate(360deg);}

}*/
