{% extends 'blog/base.html' %}

{% block content %}
<div class="postlistpage">


<div class="centerstage">
  <div class="listbanner">
    <h1>Welcome to my blog</h1>
    <p>Hello. I'm happy that you're here. I write about about tech, football, food, animes, Tv-shows and the things I find interesting in life</p>
    

  </div>

    {% for post in post_list %}


            <ol class="postul">
              <li><div class="post">
              <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
              <div class="date">
                  <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
              </div>
              <a href="{% url 'post_detail' pk=post.pk %}"><i class="fa fa-comment" aria-hidden="true"></i> Comments: {{ post.approve_comments.count }}</a>
              </div>
              </li>
            </ol>

    {% endfor %}
</div>
</div>
{% endblock %}
